<form method="POST" action="/articles">
        <label>Article Title: <input id="title" type="text" name="title" /></label><br/>
        <label>Article Content: <input id="content" type="text" name="content" /></label><br/>
        <input type="submit" id="Submit" />
</form>